[toolchain]

[features]
seeds = false
skip-lint = false

[programs.localnet]
whiplash = "DjSx4kWjgjUQ2QDjYcfJooCNhisSC2Rk3uzGkK9fJRbb"

[registry]
url = "https://api.apr.dev"

[provider]
cluster = "Localnet"
wallet = "/Users/calmdentist/.config/solana/id.json"

[scripts]
test = "yarn run ts-mocha -p ./tsconfig.json -t 1000000 tests/**/*.ts"
deploy = "ts-node migrations/deploy.ts"

[[test.genesis]]
address = "metaqbxxUerdq28cj1RbAWkYQm3ybzjb6a8bt518x1s"
program = "tests/metaplex_token_metadata_program.so"
